[submodule "flashcall-module-erc-7579"]
	path = flashcall-module-erc-7579
	url = https://github.com/kroist/flashcall-module-erc-7579.git
[submodule "modulekit-ui-playground"]
	path = modulekit-ui-playground
	url = https://github.com/kroist/modulekit-ui-playground.git
